.conList {
  margin-left: 83px; /* dynamic change */
  border-right: 2px solid rgb(224, 224, 224);
  padding-top: 4em;
  padding-bottom: 4em;
}

.conList>.inside:after {
  content: "";
  display: block;
  height: 4em;
  width: 100%;
}

.conItem {
  margin: 5px;
}

.conItem .inside {
  display: inline-block;
}

.conItem .userName {
  font-size: 0.8em;
  color: grey;
  padding-bottom: 0.5em;
}

.msg {
  overflow-x: auto;
  padding: 5px;
  border-radius: 10px;
}

.conItem.me {
  text-align: right;
  margin-left: 20%;
}

.conItem.me .msg {
  background-color: rgb(0, 128, 255);
  color: white;
}

.conItem.other {
  margin-right: 20%;
}

.conItem.other .msg {
  background-color: rgb(236, 236, 236);
  color: rgb(64, 64, 64);
}
