.userItem {
  padding: 1em 0.5em;
  width: 100%;

  font-size: 1.1em;
  background-color: white;
  border: none;
}

.userItem.active {
  background-color: rgb(236, 236, 236);
}

.userItem:hover {
  cursor: pointer;
}

.userItem .userName {
  font-size: 1em;
}
